.advantage {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: var(--card-gap);
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.advantage__item {
  text-align: center;
  

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - var(--card-gap)) / 2);
    text-align: left;
  }

  @media screen and (min-wigth: 1200px) {
    flex-basis: calc(100% - (3 * var(--card-gap)) / 4);
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantage__container {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;

  
  @media screen and (min-wigth: 768px) {
  }

  @media screen and (min-wigth: 1200px) {
    width: calc(100% - (3 * var(--card-gap)) / 4);
  
  }
  
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;

  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);


}
