.company {
  display: flex;
  gap: var(--card-gap);
  flex-wrap: wrap;
}

.company__item {
  flex-basis: calc((100% - var(--card-gap)) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - var(--card-gap) * 2) / 3);
    
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - var(--card-gap) * 5) / 6);
    
  }
}

.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--animation-fast);

  &:hover,
  &:focus {
    border: 1px solid var(--card-main-bgc-color);
  }
}

.company__icon {
  transition: fill var(--animation-fast);
  .company__link:hover &,
  .company__link:focus & {
    fill: var(--card-main-bgc-color);
  }
}
