.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;

    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}