.logo {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
}

.logo--mr-93 {
  margin-right: 93px;
}

.logo__text {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blak-text-color);

  transition: color var(--animation-fast);

  &:hover,
  &:focus {
    color: var(--acsent-text-color);
  }
}

.footer-logo--mb-d {
  margin-bottom: 20px;
  display: block;
}

.footer-logo-text {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color var(--animation-fast);

  &:hover,
  &:focus {
    color: var(--acsent-text-color);
  }
}
