.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 8px;
}

.unchecked {
  opacity: 1;
  transition: opacity var(--animation-fast);
  .visually-hidden:checked + .policy__svg & {
    opacity: 0;
  }
}

.checked {
  opacity: 0;
  transition: opacity var(--animation-fast);
  .visually-hidden:checked + .policy__svg & {
    opacity: 1;
  }
}

.policy__span {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.policy__link {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
